.breadcrumb{
  font-size: 12px;
  line-height: 12px;
  color:grey;

  & &-discovery{
    margin-bottom: 1em;
  }

  .breadcrumb-link{
    display:inline-block;
    vertical-align:middle;
    color:grey;
  }

  .breadcrumb-link:hover{
    color:#08c;
  }

  .breadcrumb-separator{
    display: inline-block;
    vertical-align:middle;
    margin: 0 3px 0 2px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 4px;
    height: 4px;
    transform: rotate(-45deg);
    transform-origin:50% 50%;
  }
}
