<script type="text/discourse-plugin" version="0.8">
  const { iconNode } = require("discourse/helpers/fa-icon-node");
  api.decorateWidget('home-logo:before', helper => {
    return helper.h('div.d-header-icons', helper.h('a.icon.btn-flat', { attributes: { href: Discourse.base ? Discourse.base.rootURL : Discourse.BaseUrl, 'data-auto-route': true, title: "home" } }, iconNode('home')));
  });

</script>

<script type="text/discourse-plugin" version="0.8.13">
  const { h } = require("virtual-dom")

  // Do these changes only outside iframes
  if (inIframe() || !settings || !settings.mooc_url) {
      api.reopenWidget("home-logo", {
        html() {
            return this.logo();
        }
      });
  } else {
      api.reopenWidget("home-logo", {
        html() {
            return h(
              "a",
              { attributes: { href: this.href(), "data-auto-route": true, target: "_blank" } },
              this.logo()
            );
        },
        click () {
          return false
        }
      });
      // Redirect to the Mooc hompage
      api.changeWidgetSetting('home-logo', 'href', settings && settings.mooc_url ? settings.mooc_url:'');
  }

  function inIframe () {
    try {
        return window.self !== window.top;
    } catch (e) {
        return true;
    }
  }

</script>

<script type="text/x-handlebars" data-template-name="/connectors/topic-above-post-stream/breadcrumb">
  <div class="breadcrumb">
    <a class="breadcrumb-link" href="/" title="{{theme-i18n "home"}}">{{theme-i18n "home"}}</a>
    {{#if model.category.parentCategory}}
      <span class="breadcrumb-separator"></span>
      <a class="breadcrumb-link" href="{{model.category.parentCategory.url}}" title="{{{model.category.parentCategory.name}}}">{{{model.category.parentCategory.name}}}</a>
    {{/if}}
    <span class="breadcrumb-separator"></span>
    <a class="breadcrumb-link" href="{{model.category.url}}" title="{{{model.category.name}}}">{{{model.category.name}}}</a>
    <span class="breadcrumb-separator"></span>
    <a class="breadcrumb-link" href="{{model.url}}" title="{{{model.fancyTitle}}}">{{{model.fancyTitle}}}</a>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="/connectors/discovery-list-container-top/breadcrumb">
  <div class="breadcrumb breadcrumb-discovery">
    <a class="breadcrumb-link" href="/" title="{{theme-i18n "home"}}">{{theme-i18n "home"}}</a>
    {{#if this.category}}
      {{#if this.category.parentCategory}}
      <span class="breadcrumb-separator"></span>
      <a class="breadcrumb-link" href="{{this.category.parentCategory.url}}" title="{{{this.category.parentCategory.name}}}">{{{this.category.parentCategory.name}}}</a>
      {{/if}}
      <span class="breadcrumb-separator"></span>
      <a class="breadcrumb-link" href="{{this.category.url}}" title="{{{this.category.name}}}">{{{this.category.name}}}</a>
    {{/if}}
  </div>
</script>
