$inria-red : #e63312;
$inria-green : green;

.topic-list > tbody > tr:nth-child(odd) {
  background-color: white;
}

.topic-list > tbody > tr.visited {
  background-color: #fafafa;
}

.topic-list > tbody tr:not(.last-visit):not(.topic-list-item-separator) td {
  border-bottom: 1px solid #eee;
}

.topic-list a.title:not(.badge-notification) {
  color: #3b5998;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
  font-size: 18px;
}

.topic-list a.title:not(.badge-notification):hover {
  text-decoration: underline;
}

.topic-list .creator, .topic-list .editor {
  font-size: 13px;
  display: block;
  margin-top: 3px;
}

.topic-list .main-link {
  width: auto;
}

.topic-list {
  td, .creator a, .editor a {
    color: #888;
  }
}

.topic-list td {
  padding-bottom: 10px;
}

.topic-list th {
  color: black;
  background-color: #fafafa;
}

.topic-list {
  border-top: none;
}

.topic-list td:first-of-type {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.topic-list tr.topic-list-item-separator td:first-of-type {
  padding: 0;
}

.topic-list {
  .fa-tag {
    opacity: 0.7;
    font-size: 10px;
    margin-right: -2px;
  }
  .num.posts-map {
    position: relative;
    font-size: 17px;
    a {
      color: #888 !important;
      font-weight: normal;
    }
    a.heatmap-high {
      color: #c66 !important;
    }
    width: 100px;
  }
}

.topic-list td.last-post, .topic-list th.activity {
  width: 160px;
  .relative-date {
    color: #666;
  }
}

.topic-list .creator .relative-date {
  margin-left: 8px;
}

.badge-category-bg {
  opacity: 0.8;
}

.topic-list .badge-wrapper.bar {
  .badge-category {
    color: #9a9a9a !important;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 6px;
  }
  .badge-category-bg {
    top: -1px;
  }
}

.last-post {
  .poster-avatar {
    margin-right: 10px;
  }
  .poster-avatar, .poster-info {
    float: left;
  }
}

.topic-list .posts {
  width: auto;
}

/* topic page */
#topic-progress {
  background-color: #f1f1f1;
  color: #666;
  font-weight: normal;
  .bg {
    background-color: #bee9e9;
  }
}

nav.post-controls button.has-like {
  color: #08c;
}

.badge-wrapper.bullet span.badge-category {
  color: #333 !important;
}

.creator .badge-wrapper.bullet span.badge-category {
  color: #888 !important;
  margin-top: -2px;
}

img.avatar {
  border-radius: 3px;
}

#suggested-topics td.main-link {
  width: 500px;
}

.topic-list a.title.visited:not(.badge-notification) {
  color: #6644aa;
}

.topic-list-item .discourse-tags {
  font-size: 0.75em;
  display: inline-block;
  margin-left: 5px;
}

body {
  .topic-list-item.visited a.badge-wrapper,
  .latest-topic-list-item.visited a.badge-wrapper,
  .category-topic-link.visited a.badge-wrapper {
    opacity: 1;
  }
}

// Always display create topic
button#create-topic {
  span {
    display: inline-block !important;
  }
}

// Hide login buttons
.login-modal{
  #login-buttons{
    display: none !important;
  }
}

// Better visual for solved topics
.topic-statuses {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 1.2em;

  .topic-status {
    .d-icon-check-square-o{
      color: $inria-green;
    }

    .pinned{
      color: $inria-red
    }
  }
}

// Home logo{
.d-header #site-logo {
  margin-left: 5px;
  line-height: 2.57em;
}

// Fixed header title
.extra-info-wrapper {
  .title-wrapper .topic-statuses, .topic-link {
    display: inline-block;
    vertical-align: middle;
  }
}
